@{
  Layout = "_Layout";
}

<h1>Welcome to the Post Office</h1>
<hr/>
<p>@Html.ActionLink("Add a Package", "Create", "Packages")</p>
<p>@Html.ActionLink("Add a Sender", "Create", "Senders")</p>
<p>@Html.ActionLink("Add a Tag", "Create", "Tags")</p>