@{
  Layout = "_Layout";
}

<h1>Welcome to the Post Office</h1>

<p>@Html.ActionLink("Add a package", "Create", "Packages")</p>
<p>@Html.ActionLink("Add a sender", "Create", "Senders")</p>
<p>@Html.ActionLink("Show list of all packages in database", "Index", "Packages")</p>
<p>@Html.ActionLink("Show list of all senders in database", "Index", "Senders")</p>