@{
  Layout = "_Layout";
}

@model Parcels.Models.Sender

<h2>Confirm Delete?</h2>

@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)
@using (Html.BeginForm())
{
  <input type="submit" value="Delete" class="btn btn-danger" />
}

<p>@Html.ActionLink("Back to Senders", "Index")</p>